*{
    padding: 0px;
    margin: 0px;
}

html,body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    background: linear-gradient(to bottom,#cfdde8 ,#7995ac);
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    width: 26%;
    height: 55%;
    background-color: #FFFFFF;
}

.status-bar{
    display: flex;
    align-items: center;
    background-color: #6a96d8;
    color:#FFFFFF;
    padding: 8px;
    text-transform: uppercase;
    font-weight: 550;
    font-size: .75rem;
    clear: both;
}

.status{
    display: flex;
    align-self: center;;
    background-color: #FFFFFF;
    border-radius: 50%;
    border: 2.3px solid white;
    margin: 10px;
}

.status-bar > .close {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}
.close > img {
    cursor: pointer;
    padding: 5px;
    opacity: .50;
}

.conversation{
    background-color: #ffffff;
    flex-grow: 1
}

.footer{
    margin-top: 10px;
    display: flex;
    background-color: #ffffff;
    border-top: 1.3px solid #efefef;
}

.footer > input {
    outline: none;
    text-decoration: none;
    border-style: none;
    background-color: transparent;
    font-weight: 600;
}

.footer >  input[type="text"] {
    padding: 10px;
    background-color: #ffffff;
    flex-grow: 1;
}

.footer > input[type="button"] {
    color: #6a96d8;
    padding: 8px;
    cursor: pointer;
}

ul.conversation {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.conversation .font{
    font-size: 0.73rem;
}

.time{
    color: #b8aea9;
    font-size: 0.75rem;
    font-weight: 500;
}

.message, .time{
    padding: 5px;
    max-width: 70%;
    border-radius: 2px;
    font-weight: 500;
}

.conversation > li{
    margin: 3px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* align-content: center; */
}

.conversation > li[data-message-type="inc"] > div.message{
    position: relative;
    background-color: #f2f2f2;
    margin-right: 10px;
}

.conversation > li[data-message-type="out"] > div.message{
    position: relative;
    background-color: #e6edf6;
    margin-left: 10px;

}
.conversation > li[data-message-type="system"] > div.message{
    background-color: #ffc2c1;
    
}


.conversation > li[data-message-type="out"]{
    display: flex;
    align-items: flex-start;
}

.conversation > li[data-message-type="inc"] > div.message:before{
    content: ' ';
    position: absolute;
    position: absolute;
    height: 0;
    top: 0px;
    right: -10px;
	border: 5px solid;
	border-color: #f2f2f2  transparent  transparent #f2f2f2;
}

.conversation > li[data-message-type="out"] > div.message:before{
    content: ' ';
    position: absolute;
    height: 0;
    top: 0px;
    left: -10px;
	border: 5px solid;
	border-color: #e6edf6 #e6edf6 transparent transparent;
}
